{% extends 'base.html.twig' %}
{% block title %}Show One Book
{% endblock %}

{% block content %}
	<div class="btn-wrapper">
		<a class="btn" href="{{ path("show_book") }}">Tillbaka</a>
	</div>

	<div class="book-one-wrapper">
		<img class="book-img" src="{{ asset("img/" ~ bookone.img ~ ".jpg" ) }}" alt="books">
		<h5>BOK TITEL:
			{{bookone.title}}</h5>
		<p>FÖRFATTARE:
			{{bookone.author}}</p>
		<p>ISBN NUMMER:
			{{bookone.isbn}}</p>

		<a class="btn" href="{{path("book_delete_by_id", {"id": bookone.id})}}">Radera?</a>
		<a class="btn" href="{{path("book_update_by_id", {"id": bookone.id})}}">Updatera?</a>

	</div>

{% endblock %}
