{% extends 'base.html.twig' %}
{% block title %}Show Books
{% endblock %}
{% block content %}
	<div class="btn-wrapper">
		<a class="btn" href="{{ path("app_book") }}">Tillbaka</a>
	</div>


	<div class="book-shelf flex">
		{% for book in books %}
			<div class="book-cover">
				<a href="{{path("book_by_id", {"id": book.id})}}">

					<img class="book-img" src="{{ asset("img/" ~ book.img ~ ".jpg" ) }}" alt="books">
					<h5>{{book.title}}</h5>
					<p>{{book.author}}</p>
				</a>
				<a style="margin-right: 20px; text-decoration: underline;" href="{{path("book_delete_by_id", {"id": book.id})}}">Radera?</a>
				<a style="text-decoration: underline;" href="{{path("book_update_by_id", {"id": book.id})}}">Updatera?</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
