{# templates/draw-num.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
	Draw Number of cards
{% endblock %}

{% block content %}


<h2>Draw Number of Cards</h2>
<form method="post" accept-charset="UTF-8">

     <p>
     <input type="number" name="numCards" value="1" min="1">
        <input type="submit" name="drawn" value="Draw">
        <input type="submit" name="clear" value="Clear">
    </p>
</form>

<div class="card-wrapper-two">
{% for cardArr in cards %} 
{% for card in cardArr %}

<div class="outline shadow rounded" style="color:{{card.color}}">
<div class="top"><span>{{card.value}}</span><span>{{card.suit | raw}}</span></div>
<h1 style="color: {{card.color}}">{{card.suit | raw}}</h1>
<div class="bottom"><span>{{card.value}}</span><span >{{card.suit | raw}}</span></div>
</div>
{% endfor %}
{% endfor %}
</div>
<p>Your cards left is {{left ?? 52}}</p>









{% endblock %}